<main>
  <hr/>
  <h1>Unique objects operations</h1>
  <h2>This is fetched train data</h2>
  <pre>{{train1?.title}}</pre>
  <h2>This is created train</h2>
  <pre>{{train5?.title}}</pre>
  <h2>This is train2</h2>
  <pre>{{train2?.title}}</pre>
  <h2>This train2, modified and saved</h2>
  <pre>{{train3?.title}}</pre>
  <h2>This the same train re-fetched</h2>
  <pre>{{train4?.title}}</pre>
  <h2>This is train 5 from cache</h2>
  <pre>{{train6?.title}}</pre>
  <h2>This is train 2 refreshed from db</h2>
  <pre>{{train7?.title}}</pre>
  <hr/>
  <h1>List operations</h1>



</main>
